@import "tailwindcss";

/* Custom font only */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dotted-divider-large {
  border: none;
  height: 2px;
  background-image: radial-gradient(circle, #9ca3af 1.5px, transparent 1.5px);
  background-size: 8px 8px; /* Controls spacing */
  background-position: 0 0;
  background-repeat: repeat-x;
}